<p>sampletext works!</p>
<!-- <form name="myForm" #frm="ngForm" (ngSubmit)="onSubmitForm(frm)">
    <div class="from group">
        <label for="FirstName">FirstName:</label>
        <input type="text" name="fname" class="form-control" #fname="ngModel" [(ngModel)]="fn">
    </div>

    <div class="from group">
        <label for="lastName">LastName:</label>
        <input type="text" name="lname" class="form-control" #lname="ngModel" ngModel>
    </div>

    <div class="from group">
        <label for="email">Email:</label>
        <input type="email" name="email" class="form-control" #email="ngModel" ngModel>

    </div>

   <div class="from group">
        <label for="course">Course:</label>
        <select name="course" class="form-control" #course="ngModel" ngModel>
            <option *ngFor="let course of courses">{{course}}</option>
        </select>

    </div> 

   <div class="from group">
        <label for="gender">Gender:</label>&nbsp;&nbsp;
        <input type="radio" name="gender" #gender="ngModel" ngModel value="male">&nbsp;
        <label for="male">Male:</label>&nbsp;&nbsp;
        <input type="radio" name="gender" #gender="ngModel" ngModel value="female">&nbsp;
        <label for="female">Female:</label>

    </div>
   <div class="from group">
        <label for="password">Password:</label>
        <input type="password" name="pass" class="form-control" #pass="ngModel" ngModel>

    </div>

   <div class="from group">
        <label for="cpass">Confirm Password:</label>
        <input type="password" name="cpass" class="form-control" #cpass="ngModel" ngModel>

    </div>
     <button type="submit" class="btn btn-success">Submit</button>
</form> -->

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>
            
        </td>
    </tr>
</table>


